<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
	<meta charset="TF-8">
	<title>{% block title %} TITULO BASE {% endblock %}</title>
	<meta name="description" content="Colosseum Hotel is a responsive Hotel and Resort HTML template.">
	<meta name="keywords" content="Responsive,HTML5,CSS3,XML,JavaScript">
	<meta name="author" content="Maycol M, maycol9ronald99@gmail.com">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic%7cPlayfair+Display:400,700%7cGreat+Vibes'
		  rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="{% static 'img/client-logo/layout_icon.png' %}" >
		  <!-- Attach Google fonts -->

	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
 {% block estilos %}
	{% endblock %}
{% include "static/js.html" %} 
{% include "static/header.html"%}
</head>
{% block body %}
{% block content1 %}


{% block content %}
{% endblock %}
{% endblock %}	

{% endblock body %}
</html>