{% extends "app/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{{ titulo }}<br/>
<script src='https://www.google.com/recaptcha/api.js'></script>
{{ request.user }}
<hr/>
<br/>
{% block content %}



<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
	<h2 class='text-align-center'><strong>Registrarte Gratis!</strong></h2><br/>
<form method="post" action=".">
  {% csrf_token %}
{{ form.as_p }}
<div class="g-recaptcha" data-sitekey="6LdzSykUAAAAAD7UdenmFrz680YHiYRiw5PvGsIa"></div>
 

  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Registrarme' %}" />
</form>
</div>
</div>
{% endblock %}






