{% extends 'app/base.html' %}
{% load staticfiles %}




{% block estilos %}
{% endblock %}

{% include "static/header.html"%}
{% block body %}
<body>
	<div class="main-wrapper">

	

{% block section %}
		<!--Breadcrumb Section-->
		<section id="breadcrumb-section" data-bg-img="../assets/img/breadcrumb.jpg">
			<div class="inner-container container">
				<div class="ravis-title">
					<div class="inner-box">
						<div class="title">Contact Us</div>
						<div class="sub-title">Some description about your hotel</div>
					</div>
				</div>

				<div class="breadcrumb">
					<ul class="list-inline">
						<li><a href="../index.html">Home</a></li>
						<li class="current"><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</section>
		<!--End of Breadcrumb Section-->
{% endblock section %}

{% block section1 %}
		<!--Contact Section-->
		<section id="contact-section">
			<div class="inner-container container">
				<div class="t-sec">
					<div class="ravis-title-t-2">
						<div class="title"><span>Contact Us</span></div>
						<div class="sub-title">Do not hesitate to contact me if you have any further questions</div>
					</div>
					<div class="content">
						ldkvknc
					</div>

					<div class="contact-info">
						<div class="contact-inf-box">
							<div class="icon-box">
								<i class="fa fa-home"></i>
							</div>
							<div class="text">
								1011 Kevin James Street, San Diego, CA 92101
							</div>
						</div>
						<div class="contact-inf-box">
							<div class="icon-box">
								<i class="fa fa-envelope"></i>
							</div>
							<div class="text">
								info@colosseum.com
							</div>
						</div>
						<div class="contact-inf-box">
							<div class="icon-box">
								<i class="fa fa-phone"></i>
							</div>
							<div class="text">
								(012) 345-6789
							</div>
						</div>
					</div>
				</div>

				<div class="b-sec clearfix">
					<div class="contact-form col-md-6">
						<form action="#" id="contact-form-box">

							<div class="field-row">
							<form method="POST" action="">{% csrf_token %}
								{{ form.as_p }}
								<!-- <input type="submit" name="Registrame"> -->

								<input type="submit" name="Registrame">
							</form>
							
							</div>
						</form>


					<hr/>
					
						</div>
					<div id="google-map" class="col-md-6" data-marker="{% static 'img/video.jpg' %}"></div>
				</div>
			</div>
		</section>
		<!--End of Contact Section-->
{% endblock section1 %}

{% block footer %}
		<!--Footer Section-->
		<footer id="main-footer">
			<div class="inner-container container">
				<div class="t-sec clearfix">
					<div class="widget-box col-sm-6 col-md-3">
						<a href="#" id="f-logo">
							<span class="title">Colosseum</span>
							<span class="desc">Luxury Hotel</span>
						</a>
						<div class="widget-content text-widget">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at aut commodi
							consequatur ducimus facilis, ipsam necessitatibus nihil odio quam reiciendis, sequi sint
							voluptate. Dolorum fugit pariatur quaerat quisquam sint soluta suscipit vitae, voluptate
							voluptates!
						</div>
					</div>
					<div class="widget-box col-sm-6 col-md-3">

					<hr/>


						<h4 class="title">Newsletter</h4>
						<div class="widget-content newsletter">
							<div class="desc">
								Some description of how your newsletter works will be located in this section.
							</div>
							<form class="news-letter-form">
								<input type="text" class="email" placeholder="Email">
								<button type="submit" class="ravis-btn btn-type-2">Sign up Now</button>
							</form>
						</div>
					</div>
					<div class="widget-box col-sm-6 col-md-3">
						<h4 class="title">Latest Posts</h4>
						<div class="widget-content latest-posts">
							<ul>
								<li class="clearfix">
									<div class="img-container col-xs-4">
										<a href="blog-details.html">
											<img src="../assets/img/gallery/5.jpg" alt="Room Image">
										</a>
									</div>
									<div class="desc-box col-xs-8">
										<a href="blog-details.html" class="title">Toronto High End Market</a>
										<div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
											Atque
											dicta exercitationem hic laudantium nemo quis quo reprehenderit repudiandae
											ut
											vel?
										</div>
										<a href="blog-details.html" class="read-more">Read More</a>

									</div>
								</li>
								<li class="clearfix">
									<div class="img-container col-xs-4">
										<a href="blog-details.html">
											<img src="../assets/img/gallery/6.jpg" alt="Room Image">
										</a>
									</div>
									<div class="desc-box col-xs-8">
										<a href="blog-details.html" class="title">Drop Everything Now</a>
										<div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
											Accusamus consequuntur corporis dolorem esse fugiat in magnam nostrum qui
											rerum,
											sapiente.
										</div>
										<a href="blog-details.html" class="read-more">Read More</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="widget-box col-sm-6 col-md-3">
						<h4 class="title">Contact Us</h4>
						<div class="widget-content contact">
							<ul class="contact-info">
								<li>
									<i class="fa fa-home"></i>
									1011 Kevin James Street San Diego, CA 92101
								</li>
								<li>
									<i class="fa fa-phone"></i>
									(012) 345-6789
								</li>
								<li>
									<i class="fa fa-envelope"></i>
									info@website.com
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="b-sec clearfix">
					<div class="copy-right">
						With <i class="fa fa-heart"></i> by <a href="http://ravistheme.com"
															   target="_blank">RavisTheme</a> © 2016. All Rights
						Reserved.
					</div>
					<ul class="social-icons list-inline">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</footer>
		<!--End of Footer Section-->
{% endblock footer %}

	

	
</div>

	<!-- JS Include Section -->
	
</body>
{% endblock body %}