{% extends "app/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
{% if titulo %}
<h2 class='text-align-center'><strong>{{ titulo }}</strong></h2><hr/>
{% endif %}
<form method="POST" action="">{% csrf_token %}
{{ form|crispy }}
<input class='btn btn-primary' type='submit' value='Enviar' />
</form>
</div>
</div>
{% endblock %}

