{% extends 'app/base.html' %}
{% load staticfiles %}

{% block title %}
Inicio - Sitio de prueba 
{% endblock title%}

{% block estilos %}
{% endblock %}

{% block scripts %}
<link rel="shortcut icon" href="{% static 'img/hosteriagaleria/favicon.png' %}">
<
<!-- Bootstrap core CSS -->
<link href="style/css/bootstrap.min.css" rel="stylesheet">
<link href="style/css/plugins.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">
<link href="style/css/color/blue.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href="style/type/icons.css" rel="stylesheet">
{% endblock %}


{% block body %}
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div id="preloader"><div class="textload">Loading</div><div id="status"><div class="spinner"></div></div></div>
<main class="body-wrapper">
  <nav class="navbar">
    <div class="navbar-header">
      <div class="basic-wrapper"> 
        <div class="navbar-brand"> <a href="index.html"><img src="#" srcset="style/images/logo.png 1x, style/images/logo@2x.png 2x" class="logo-light" alt="" /><img src="#" srcset="style/images/logo-dark.png 1x, style/images/logo-dark@2x.png 2x" class="logo-dark" alt="" /></a> </div>
        <a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
      </div>
      <!-- /.basic-wrapper -->  
    </div>
    <!-- /.navbar-header -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="current dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Home <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="index.html">Default Layout</a></li>
            <li><a href="index2.html">Home with AJAX Gallery</a></li>
            <li><a href="index3.html">Home with Onepage Gallery</a></li>
            <li><a href="index4.html">Home with Slide Portfolio</a></li>
            <li><a href="index5.html">Home with Grid Blog 1</a></li>
            <li><a href="index6.html">Home with Grid Blog 2</a></li>
            <li><a href="index7.html">Home with Magazine 1</a></li>
            <li><a href="index8.html">Home with Magazine 2</a></li>
            <li><a href="onepage.html">Onepage Layout</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Headers <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="about2.html">Transparent</a></li>
            <li><a href="index5.html">Light Solid</a></li>
            <li><a href="index6.html">Dark Solid</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Portfolio <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="portfolio.html">Mosaic Portfolio</a></li>
            <li><a href="portfolio2.html">Mosaic Portfolio w/ Lightbox</a></li>
            <li><a href="portfolio3.html">AJAX Gallery</a></li>
            <li><a href="portfolio4.html">Onepage Gallery</a></li>
            <li><a href="portfolio5.html">Slide Portfolio</a></li>
            <li><a href="portfolio-post.html">Post with Carousel</a></li>
            <li><a href="portfolio-post2.html">Post with Images</a></li>
            <li><a href="portfolio-post3.html">Post with Video</a></li>
            <li><a href="portfolio-post4.html">Post with Slider</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Blog <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="blog.html">Grid Blog</a></li>
            <li><a href="blog2.html">Grid Blog with Sidebar</a></li> 
            <li><a href="blog3.html">Magazine</a></li>
            <li><a href="blog4.html">Magazine No Sidebar</a></li>
            <li><a href="blog-post.html">Blog Post</a></li>
            <li><a href="blog-post2.html">Blog Post No Sidebar</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Pages <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="about.html">About 1</a></li>
            <li><a href="about2.html">About 2</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact 1</a></li>
            <li><a href="contact2.html">Contact 2</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Features <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="elements.html">Elements</a></li>
            <li><a href="headings.html">Headings</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="social.html">Social Feeds</a></li>
            <li><a href="disqus.html">Disqus</a></li>
            <li><a href="icon-budicon.html">Budicon Icons</a></li>
            <li><a href="icon-fontello.html">Fontello Icons</a></li>
          </ul>
        </li>
      </ul>
      <!-- /.navbar-nav --> 
    </div>
    <!-- /.navbar-collapse -->
    <div class="social-wrapper">
      <ul class="social naked">
        <li><a href="#"><i class="icon-s-facebook"></i></a></li>
        <li><a href="#"><i class="icon-s-twitter"></i></a></li>
        <li><a href="#"><i class="icon-s-flickr"></i></a></li>
        <li><a href="#"><i class="icon-s-instagram"></i></a></li>
      </ul>
      <!-- /.social --> 
    </div>
    <!-- /.social-wrapper --> 
  </nav>
  <!-- /.navbar -->
  
  <div class="tp-fullscreen-container revolution">
    <div class="tp-fullscreen">
      <ul>
        <li data-transition="fade"> <img src="style/images/art/slider-bg1.jpg"  alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
          <h1 class="tp-caption large sfr" data-x="30" data-y="263" data-speed="900" data-start="800" data-easing="Sine.easeOut">hello! this is lydia</h1>
          <div class="tp-caption medium sfr" data-x="30" data-y="348" data-speed="900" data-start="1500" data-easing="Sine.easeOut">most completed photography & <br />
            magazine template with various options</div>
        </li>
        <li data-transition="fade"> <img src="style/images/art/slider-bg2.jpg"  alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
          <div class="tp-caption large text-center sfl" data-x="center" data-y="283" data-speed="900" data-start="800" data-easing="Sine.easeOut">built for creatives to showcase</div>
          <div class="tp-caption large text-center sfr" data-x="center" data-y="363" data-speed="900" data-start="1500" data-easing="Sine.easeOut">their portfolio beautifully</div>
        </li>
        <li data-transition="fade"> <img src="style/images/art/slider-bg3.jpg"  alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
          <div class="tp-caption large text-center sfb" data-x="center" data-y="293" data-speed="900" data-start="800" data-easing="Sine.easeOut">free updates & premium support</div>
          <div class="tp-caption medium text-center sfb" data-x="center" data-y="387" data-speed="900" data-start="1500" data-easing="Sine.easeOut">you will have access to all updates and free support</div>
        </li>
        <li data-transition="fade"> <img src="style/video/nyc.jpg" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />
          <div class="tp-caption large text-center sfb" data-x="center" data-y="293" data-speed="900" data-start="800" data-endspeed="100" data-easing="Sine.easeOut" style="z-index: 2;">html5 self hosted video support</div>
          <div class="tp-caption medium text-center sfb" data-x="center" data-y="387" data-speed="900" data-start="1500" data-endspeed="100" data-easing="Sine.easeOut" style="z-index: 2;">for better visualization of your company</div>
          <div class="tp-caption tp-fade fadeout fullscreenvideo"
			data-x="0"
			data-y="0"
			data-speed="1000"
			data-start="1100"
			data-easing="Power4.easeOut"
			data-elementdelay="0.01"
			data-endelementdelay="0.1"
			data-endspeed="1500"
			data-endeasing="Power4.easeIn"
			data-autoplay="true"
			data-autoplayonlyfirsttime="false"
			data-nextslideatend="true"
				data-dottedoverlay="twoxtwo"
				data-volume="mute" data-forceCover="1" data-aspectratio="16:9" data-forcerewind="on" style="z-index: 1;">
            <video class="" preload="none" width="100%" height="100%" 
poster='style/video/nyc.jpg'>
              <source src='style/video/nyc.mp4' type='video/mp4' />
              <source src='style/video/nyc.webm' type='video/webm' />
            </video>
          </div>
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.tp-fullscreen-container --> 
  </div>
  <!-- /.revolution -->
  
  <div class="light-wrapper">
    <div class="container inner">
      <div class="thin">
        <h3 class="section-title text-center">my specialties</h3>
        <p class="text-center">Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui.</p>
      </div>
      <!-- /.thin -->
      <div class="divide10"></div>
      <div class="row">
        <div class="col-sm-4">
          <div class="caption-overlay">
            <figure><a href="#"><img src="style/images/art/s1.jpg" alt="" /> </a></figure>
            <div class="caption bottom-right">
              <div class="title">
                <h3 class="main-title layer">Fashion Photography</h3>
              </div>
              <!--/.title --> 
            </div>
            <!--/.caption --> 
          </div>
        </div>
        <!-- /column -->
        <div class="col-sm-4">
          <div class="caption-overlay">
            <figure><a href="#"><img src="style/images/art/s2.jpg" alt="" /> </a></figure>
            <div class="caption bottom-right">
              <div class="title">
                <h3 class="main-title layer">Food & Drink Photography</h3>
              </div>
              <!--/.title --> 
            </div>
            <!--/.caption --> 
          </div>
        </div>
        <!-- /column -->
        <div class="col-sm-4">
          <div class="caption-overlay">
            <figure><a href="#"><img src="style/images/art/s3.jpg" alt="" /> </a></figure>
            <div class="caption bottom-right">
              <div class="title">
                <h3 class="main-title layer">Wedding Photography</h3>
              </div>
              <!--/.title --> 
            </div>
            <!--/.caption --> 
          </div>
        </div>
        <!-- /column --> 
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.light-wrapper -->
  
  <div class="dark-wrapper">
    <div class="container inner">
      <div class="thin">
        <h3 class="section-title text-center">my latest works</h3>
        <p class="text-center">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat.</p>
      </div>
      <!-- /.thin -->
      <div class="divide10"></div>
      <div class="cbp-panel">
        <div id="js-filters-mosaic" class="cbp-filter-container text-center">
          <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div>
          <div data-filter=".print" class="cbp-filter-item"> Print </div>
          <div data-filter=".web" class="cbp-filter-item"> Web Design </div>
          <div data-filter=".logo" class="cbp-filter-item"> Logo </div>
          <div data-filter=".motion" class="cbp-filter-item"> Motion </div>
        </div>
        <div id="js-grid-mosaic" class="cbp">
          <div class="cbp-item print motion"> <a class="cbp-caption fancybox-media" data-rel="portfolio" href="https://vimeo.com/24243147" data-title-id="title-1">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p1.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title"><span class="cbp-plus"></span></div>
                </div>
              </div>
            </div>
            <!--/.cbp-caption-activeWrap --> 
            </a>
            <div id="title-1" class="hidden">
              <h3>Ipsum Tortor Dapibus</h3>
              <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
            <!-- /.hidden --> 
          </div>
          <!--/.cbp-item -->
          
          <div class="cbp-item print"> <a class="cbp-caption fancybox-media" data-rel="portfolio" href="style/images/art/p2-full.jpg" data-title-id="title-2">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p2.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title"><span class="cbp-plus"></span></div>
                </div>
              </div>
            </div>
            <!--/.cbp-caption-activeWrap --> 
            </a> </div>
          <!--/.cbp-item -->
          
          <div class="cbp-item web logo"> <a class="cbp-caption fancybox-media" data-rel="portfolio" href="style/images/art/p3-full.jpg" data-title-id="title-3">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p3.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title"><span class="cbp-plus"></span></div>
                </div>
              </div>
            </div>
            <!--/.cbp-caption-activeWrap --> 
            </a>
            <div id="title-3" class="hidden">
              <h3>Ullamcorper Sem Bibendum</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            </div>
            <!-- /.hidden --> 
          </div>
          <!--/.cbp-item -->
          
          <div class="cbp-item web"> <a class="cbp-caption fancybox-media" data-rel="portfolio" href="style/images/art/p4-full.jpg" data-title-id="title-4">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p4.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title"><span class="cbp-plus"></span></div>
                </div>
              </div>
            </div>
            <!--/.cbp-caption-activeWrap --> 
            </a> </div>
          <!--/.cbp-item -->
          
          <div class="cbp-item print logo"> <a class="cbp-caption fancybox-media" data-rel="portfolio" href="style/images/art/p5-full.jpg" data-title-id="title-5">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p5.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title"><span class="cbp-plus"></span></div>
                </div>
              </div>
            </div>
            <!--/.cbp-caption-activeWrap --> 
            </a> </div>
          <!--/.cbp-item -->
          
          <div class="cbp-item print web"> <a class="cbp-caption fancybox-media" data-rel="portfolio" href="style/images/art/p6-full.jpg" data-title-id="title-6">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p6.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title"><span class="cbp-plus"></span></div>
                </div>
              </div>
            </div>
            <!--/.cbp-caption-activeWrap --> 
            </a>
            <div id="title-6" class="hidden">
              <h3>Ullamcorper Sem Bibendum</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            </div>
            <!-- /.hidden --> 
          </div>
          <!--/.cbp-item -->
          
          <div class="cbp-item motion logo"> <a class="cbp-caption fancybox-media" data-rel="portfolio" href="https://vimeo.com/6757600" data-title-id="title-7">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p7.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title"><span class="cbp-plus"></span></div>
                </div>
              </div>
            </div>
            <!--/.cbp-caption-activeWrap --> 
            </a> </div>
          <!--/.cbp-item -->
          
          <div class="cbp-item print logo"> <a class="cbp-caption fancybox-media" data-rel="portfolio" href="style/images/art/p8-full.jpg" data-title-id="title-8">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p8.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title"><span class="cbp-plus"></span></div>
                </div>
              </div>
            </div>
            <!--/.cbp-caption-activeWrap --> 
            </a> </div>
          <!--/.cbp-item -->
          
          <div class="cbp-item logo web"> <a class="cbp-caption fancybox-media" data-rel="portfolio" href="style/images/art/p9-full.jpg" data-title-id="title-9">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p9.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title"><span class="cbp-plus"></span></div>
                </div>
              </div>
            </div>
            <!--/.cbp-caption-activeWrap --> 
            </a> </div>
          <!--/.cbp-item -->
          
          <div class="cbp-item print web"> <a class="cbp-caption fancybox-media" data-rel="portfolio" href="style/images/art/p10-full.jpg" data-title-id="title-10">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p10.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title"><span class="cbp-plus"></span></div>
                </div>
              </div>
            </div>
            
            <!--/.cbp-caption-activeWrap --> 
            
            </a> </div>
          
          <!--/.cbp-item -->
          
          <div class="cbp-item print"> <a class="cbp-caption fancybox-media" data-rel="portfolio" href="style/images/art/p11-full.jpg" data-title-id="title-11">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p11.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title"><span class="cbp-plus"></span></div>
                </div>
              </div>
            </div>
            
            <!--/.cbp-caption-activeWrap --> 
            
            </a> </div>
          
          <!--/.cbp-item -->
          
          <div class="cbp-item print logo"> <a class="cbp-caption fancybox-media" data-rel="portfolio" href="style/images/art/p12-full.jpg" data-title-id="title-12">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p12.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title"><span class="cbp-plus"></span></div>
                </div>
              </div>
            </div>
            <!--/.cbp-caption-activeWrap --> 
            </a> </div>
          <!--/.cbp-item -->
          
          <div class="cbp-item print logo"> <a class="cbp-caption fancybox-media" data-rel="portfolio" href="style/images/art/p13-full.jpg" data-title-id="title-13">
            <div class="cbp-caption-defaultWrap"> <img src="style/images/art/p13.jpg" alt="" /> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title"><span class="cbp-plus"></span></div>
                </div>
              </div>
            </div>
            <!--/.cbp-caption-activeWrap --> 
            </a> </div>
          <!--/.cbp-item --> 
          
        </div>
        <!--/.cbp --> 
        
      </div>
      <!--/.cbp-panel -->
      <div class="divide30"></div>
      <div id="js-grid-mosaic-more" class="cbp-l-loadMore-text"> <a href="ajax/loadmore2.html" class="cbp-l-loadMorelink btn" rel="nofollow"> <span class="cbp-l-loadMore-defaultText">Load More</span> <span class="cbp-l-loadMore-loadingText">Loading...</span> <span class="cbp-l-loadMore-noMoreLoading">No More Works</span> </a> </div>
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.dark-wrapper -->
  
  <div class="light-wrapper">
    <div class="col-image">
      <div class="bg-wrapper col-md-6">
        <div class="bg-holder" style="background-image: url(style/images/art/about.jpg);"></div>
      </div>
      <!--/.bg-wrapper -->
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-7 inner-col">
            <h3 class="section-title">a little about me</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismod.</p>
            <ul class="progress-list">
              <li>
                <p>Photoshop <em>90%</em></p>
                <div class="progress plain">
                  <div class="bar" data-width="90"></div>
                </div>
              </li>
              <li>
                <p>Final Cut <em>80%</em></p>
                <div class="progress plain">
                  <div class="bar" data-width="80"></div>
                </div>
              </li>
              <li>
                <p>Studio Photography <em>85%</em></p>
                <div class="progress plain">
                  <div class="bar" data-width="85"></div>
                </div>
              </li>
              <li>
                <p>Motion Video <em>75%</em></p>
                <div class="progress plain">
                  <div class="bar" data-width="75"></div>
                </div>
              </li>
            </ul>
            <!-- /.progress-list --> 
          </div>
          <!--/column --> 
        </div>
        <!--/.row --> 
      </div>
      <!--/.container --> 
    </div>
    <!--/.col-image --> 
    
  </div>
  <!-- /.light-wrapper -->
  
  <div class="dark-wrapper">
    <div class="container inner">
      <h3 class="section-title text-center">from the journal</h3>
      <div class="divide10"></div>
      <div class="carousel-wrapper">
        <div class="carousel carousel-boxed blog">
          <div class="item post">
            <figure class="main"><img src="style/images/art/b1.jpg" alt="" /></figure>
            <div class="box text-center">
              <div class="category cat9"><span><a href="#">Urban</a></span></div>
              <h4 class="post-title"><a href="blog-post.html">Parturient Commodo Aenean</a></h4>
              <div class="meta"><span class="date">14 Oct 2014</span><span class="comments"><a href="#"><i class="icon-chat-1"></i> 15</a></span></div>
              <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient. Curabitur blandit tempus lacinia odio.</p>
            </div>
            <!-- /.box --> 
            
          </div>
          <!-- /.post -->
          
          <div class="item post">
            <figure class="main"><img src="style/images/art/b2.jpg" alt="" /></figure>
            <div class="box text-center">
              <div class="category cat12"><span><a href="#">Still Life</a></span></div>
              <h4 class="post-title"><a href="blog-post.html">Quam Mollis Ligula Nullam</a></h4>
              <div class="meta"><span class="date">12 Nov 2014</span><span class="comments"><a href="#"><i class="icon-chat-1"></i> 15</a></span></div>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus. Lorem ipsum dolor sit amet.</p>
            </div>
            <!-- /.box --> 
            
          </div>
          <!-- /.post -->
          
          <div class="item post">
            <figure class="main"><img src="style/images/art/b3.jpg" alt="" /></figure>
            <div class="box text-center">
              <div class="category cat5"><span><a href="#">Photography</a></span></div>
              <h4 class="post-title"><a href="blog-post.html">Tellus Bibendum Parturient</a></h4>
              <div class="meta"><span class="date">23 Dec 2014</span><span class="comments"><a href="#"><i class="icon-chat-1"></i> 15</a></span></div>
              <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor. Sed posuere consectetur est at. Duis mollis, est.</p>
            </div>
            <!-- /.box --> 
            
          </div>
          <!-- /.post -->
          <div class="item post">
            <figure class="main"><img src="style/images/art/b4.jpg" alt="" /></figure>
            <div class="box text-center">
              <div class="category cat6"><span><a href="#">Journal</a></span></div>
              <h4 class="post-title"><a href="blog-post.html">Parturient Commodo Aenean</a></h4>
              <div class="meta"><span class="date">14 Oct 2014</span><span class="comments"><a href="#"><i class="icon-chat-1"></i> 15</a></span></div>
              <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient. Curabitur blandit tempus lacinia.</p>
            </div>
            <!-- /.box --> 
            
          </div>
          <!-- /.post -->
          
          <div class="item post">
            <figure class="main"><img src="style/images/art/b5.jpg" alt="" /></figure>
            <div class="box text-center">
              <div class="category cat12"><span><a href="#">Still Life</a></span></div>
              <h4 class="post-title"><a href="blog-post.html">Quam Mollis Ligula Nullam</a></h4>
              <div class="meta"><span class="date">12 Nov 2014</span><span class="comments"><a href="#"><i class="icon-chat-1"></i> 15</a></span></div>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus. Lorem ipsum dolor sit amet.</p>
            </div>
            <!-- /.box --> 
            
          </div>
          <!-- /.post -->
          
          <div class="item post">
            <figure class="main"><img src="style/images/art/b6.jpg" alt="" /></figure>
            <div class="box text-center">
              <div class="category cat3"><span><a href="#">Nature</a></span></div>
              <h4 class="post-title"><a href="blog-post.html">Tellus Bibendum Parturient</a></h4>
              <div class="meta"><span class="date">23 Dec 2014</span><span class="comments"><a href="#"><i class="icon-chat-1"></i> 15</a></span></div>
              <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor. Sed posuere consectetur est at. Duis mollis, est non.</p>
            </div>
            <!-- /.box --> 
            
          </div>
          <!-- /.post --> 
        </div>
        <!--/.carousel --> 
      </div>
      <!--/.carousel-wrapper --> 
    </div>
    <!--/.container --> 
    
  </div>
  <!-- /.dark-wrapper -->
  <div class="light-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-sm-4 col-md-3">
          <h2>Instagram Feed</h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat. Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo.</p>
          <div class="divide10"></div>
          <a href="https://instagram.com/urbanshots/" class="btn btn-icon"><i class="icon-s-instagram"></i> Instagram Page</a> </div>
        <!--/column -->
        <div class="col-sm-8 col-md-9">
          <div class="image-grid col5">
            <div class="items-wrapper">
              <div id="instafeed" class="isotope items" data-limit="5"></div>
              
              <!--/.isotope --> 
            </div>
            <!--/.items-wrapper --> 
          </div>
          <!--/.image-grid --> 
        </div>
        <!--/column --> 
      </div>
      <!--/.row --> 
    </div>
    <!--/.container --> 
    
  </div>
  <!-- /.light-wrapper -->
  <footer class="footer inverse-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-sm-4">
          <div class="widget">
            <h3 class="widget-title">Popular Posts</h3>
            <ul class="post-list">
              <li>
                <div class="icon-overlay"> <a href="blog-post.html"><img src="style/images/art/a1.jpg" alt="" /> </a> </div>
                <div class="meta">
                  <h5><a href="blog-post.html">Magna Mollis Ultricies</a></h5>
                  <em><span class="date">3th Oct 2012</span> <span class="comments"><a href="#"><i class="icon-chat-1"></i> 8</a></span></em> </div>
              </li>
              <li>
                <div class="icon-overlay"> <a href="blog-post.html"><img src="style/images/art/a2.jpg" alt="" /> </a> </div>
                <div class="meta">
                  <h5><a href="blog-post.html">Ornare Nullam Risus Tellus Elit Fusce Inceptos Etiam</a></h5>
                  <em><span class="date">28th Sep 2012</span> <span class="comments"><a href="#"><i class="icon-chat-1"></i> 5</a></span></em> </div>
              </li>
              <li>
                <div class="icon-overlay"> <a href="blog-post.html"><img src="style/images/art/a3.jpg" alt="" /> </a> </div>
                <div class="meta">
                  <h5><a href="blog-post.html">Euismod Nullam</a></h5>
                  <em><span class="date">15th Aug 2012</span> <span class="comments"><a href="#"><i class="icon-chat-1"></i> 9</a></span></em> </div>
              </li>
            </ul>
            <!-- /.post-list --> 
          </div>
          <!-- /.widget --> 
        </div>
        <!-- /column -->
        
        <div class="col-sm-4">
          <div class="widget">
            <h4 class="widget-title">Tags</h4>
            <ul class="tag-list">
              <li><a href="#" class="btn">Web</a></li>
              <li><a href="#" class="btn">Photography</a></li>
              <li><a href="#" class="btn">Illustation</a></li>
              <li><a href="#" class="btn">Fun</a></li>
              <li><a href="#" class="btn">Blog</a></li>
              <li><a href="#" class="btn">Commercial</a></li>
              <li><a href="#" class="btn">Journal</a></li>
              <li><a href="#" class="btn">Nature</a></li>
              <li><a href="#" class="btn">Still Life</a></li>
            </ul>
          </div>
          <!-- /.widget -->
          
          <div class="widget">
            <h4 class="widget-title">Elsewhere</h4>
            <ul class="social">
              <li><a href="#"><i class="icon-s-rss"></i></a></li>
              <li><a href="#"><i class="icon-s-twitter"></i></a></li>
              <li><a href="#"><i class="icon-s-facebook"></i></a></li>
              <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
              <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
            </ul>
            <!-- .social --> 
            
          </div>
        </div>
        <!-- /column -->
        
        <div class="col-sm-4">
          <div class="widget">
            <h4 class="widget-title">Search</h4>
            <form class="searchform" method="get">
              <input type="text" id="s2" name="s" value="Search something" onfocus="this.value=''" onblur="this.value='Search something'">
              <button type="submit" class="btn btn-default">Find</button>
            </form>
          </div>
          <!-- /.widget -->
          <div class="widget">
            <h4 class="widget-title">Get In Touch</h4>
            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <div class="contact-info"> <i class="icon-location"></i> Moonshine St. 14/05 Light City <br />
              <i class="icon-phone"></i>+00 (123) 456 78 90 <br />
              <i class="icon-mail"></i> <a href="first.last@email.com">first.last@email.com</a> </div>
          </div>
          <!-- /.widget --> 
          
        </div>
        <!-- /column --> 
        
      </div>
      <!-- /.row --> 
    </div>
    <!-- .container -->
    
    <div class="sub-footer">
      <div class="container inner">
        <p class="text-center">© 2015 Lydia. All rights reserved. Theme by <a href="http://elemisfreebies.com">elemis</a>.</p>
      </div>
      <!-- .container --> 
    </div>
    <!-- .sub-footer --> 
  </footer>
  <!-- /footer --> 
  
</main>
<!--/.body-wrapper --> 
<script src="style/js/jquery.min.js"></script> 
<script src="style/js/bootstrap.min.js"></script> 
<script src="style/js/plugins.js"></script> 
<script src="style/js/classie.js"></script> 
<script src="style/js/jquery.themepunch.tools.min.js"></script> 
<script src="style/js/scripts.js"></script>
</body>
</html>