{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block estilos %}
{% endblock %}

{% block body %}
<body>
	<div class="main-wrapper">

{% include "static/slider.html" %} 
	
{% block contenido1 %}
	
		<section id="welcome-section">
			<div class="inner-container container">
				<div class="l-sec col-md-7">
					<div class="ravis-title-t-1">
						<div class="title"><span>Candamo Hostería</span></div>
						<div class="sub-title">We provide the most luxurious services</div>
					</div>
					<div class="content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim esse id illo laboriosam magnam
						
					</div> 
					<a href="{% url 'about' %}" class="ravis-btn btn-type-2">Acerca </a>
				</div>
				<div class="r-sec col-md-5">
					<img src="{% static 'img/hosteriagaleria/edificiopiscina.jpg' %}" alt="Colosseum Hotel">
				</div>
				
			</div>
		</section> 
		
{% endblock contenido1 %}

{% block contenido2 %}
		
		<section id="luxury-rooms" class="clearfix">
			<div class="room-boxes col-sm-6 col-md-4">
				<a href="pages/room-details.html" class="inner-container" data-bg="{% static 'img/hosteriagaleria/habitacion-doble.jpg' %}
				">
					<span class="ravis-title">
						<span class="inner-box">
							<span class="title">Habitación Doble</span>
							<span class="sub-title">The best suit for families</span>
						</span>
					</span>
				</a>
			</div>
			<div class="room-boxes col-sm-6 col-md-4">
				<a href="pages/room-details.html" class="inner-container" data-bg="{% static 'img/hosteriagaleria/habitacionsimple.jpg' %}">
					<span class="ravis-title">
						<span class="inner-box">
							<span class="title">Habitacion Simple</span>
							<span class="sub-title">Luxury suite with greate view</span>
						</span>
					</span>
				</a>
			</div>
			<div class="room-boxes col-sm-6 col-md-4">
				<a href="pages/room-details.html" class="inner-container" data-bg="{% static 'img/hosteriagaleria/habitacionmatrimonial.jpg' %}">
					<span class="ravis-title">
						<span class="inner-box">
							<span class="title">Habitacion Matrimonial</span>
							<span class="sub-title">Suitable for families</span>
						</span>
					</span>
				</a>
			</div>
			
		</section>
		
{% endblock contenido2 %}

{% block contenido3 %}
		
		<section id="gallery">
			<div class="inner-container container">

				<div class="ravis-title">
					<div class="inner-box">
						<div class="title">Colosseum Gallery</div>
						<div class="sub-title">Experience the best and luxurious services with us</div>
					</div>
				</div>

			
				<div class="gallery-container">
					<div class="sort-section">
						<div class="sort-section-container">
							<div class="sort-handle">Filters</div>
							<ul class="list-inline">
								<li><a href="#" data-filter="*" class="active">Todo</a></li>
								<li><a href="#" data-filter=".restaurant">Restaurante</a></li>
								<li><a href="#" data-filter=".bars">Bars</a></li>
								<li><a href="#" data-filter=".pool">Piscina</a></li>
								<li><a href="#" data-filter=".rooms">Habitacion</a></li>
								<li><a href="#" data-filter=".lobby">Juegos</a></li>
							</ul>
						</div>
					</div>
					<ul class="image-main-box clearfix">
						<li class="item col-xs-6 col-md-4 lobby">
							<figure>
								<img src="{% static 'img/hosteriagaleria/indor.jpg' %}" alt="11"/>
								<a href="{% static 'img/hosteriagaleria/indor.jpg' %}" class="more-details"
								   data-title="Great View">Enlarge</a>
								<figcaption>
									<h4>Indor</h4>
								</figcaption>
							</figure>
						</li>
						<li class="item col-xs-6 col-md-4 pool">
							<figure>
								<img src="{% static 'img/hosteriagaleria/piscina3.jpg' %}" alt="11"/>
								<a href="{% static 'img/hosteriagaleria/piscina3.jpg' %}" class="more-details" data-title="Luxury Furniture">Enlarge</a>
								<figcaption>
									<h4>Piscina</h4>
								</figcaption>
							</figure>
						</li>
						<li class="item col-xs-6 col-md-4 bars">
							<figure>
								<img src="{% static 'img/hosteriagaleria/cervezas.jpg' %}" alt="11"/>
								<a href="{% static 'img/hosteriagaleria/cervezas.jpg' %}" class="more-details"
								   data-title="Neat &amp; Clean Places">Enlarge</a>
								<figcaption>
									<h4>Cervezas</h4>
								</figcaption>
							</figure>
						</li>
						<li class="item col-xs-6 col-md-4 restaurant">
							<figure>
								<img src="{% static 'img/hosteriagaleria/alverja.jpg' %}" alt="11"/>
								<a href="{% static 'img/hosteriagaleria/arrozmoro.jpg' %}" class="more-details"
								   data-title="Luxury Feelings">Enlarge</a>
								<figcaption>
									<h4>Alverja con guineo</h4>
								</figcaption>
							</figure>
							<figure>
								<img src="{% static 'img/hosteriagaleria/arrozmoro.jpg' %}" alt="11"/>
								<a href="{% static 'img/hosteriagaleria/arrozmoro.jpg' %}" class="more-details"
								   data-title="Luxury Feelings">Enlarge</a>
								<figcaption>
									<h4>Arroz Moro</h4>
								</figcaption>
							</figure>
						</li>
						<li class="item col-xs-6 col-md-4 pool">
							<figure>
								<img src="{% static 'img/gallery/5.jpg' %}" alt="11"/>
								<a href="{% static 'img/gallery/5.jpg' %}" class="more-details"
								   data-title="Cozy Spaces">Enlarge</a>
								<figcaption>
									<h4>Cozy Spaces</h4>
								</figcaption>
							</figure>
						</li>
						<li class="item col-xs-6 col-md-4 rooms">
							<figure>
								<img src="{% static 'img/hosteriagaleria/habitacion-doble.jpg' %}" alt="11"/>
								<a href="{% static 'img/hosteriagaleria/habitacion-doble.jpg' %}" class="more-details" data-title="Comfortable Rooms">Enlarge</a>
								<figcaption>
									<h4>Habitacion Doble</h4>
								</figcaption>
							</figure>
							<figure>
								<img src="{% static 'img/hosteriagaleria/habitacionsimple.jpg' %}" alt="11"/>
								<a href="{% static 'img/hosteriagaleria/habitacionsimple.jpg' %}" class="more-details" data-title="Comfortable Rooms">Enlarge</a>
								<figcaption>
									<h4>Habitacion Simple</h4>
								</figcaption>
							</figure>
							<figure>
								<img src="{% static 'img/hosteriagaleria/habitacionmatrimonial.jpg' %}" alt="11"/>
								<a href="{% static 'img/hosteriagaleria/habitacionmatrimonial.jpg' %}" class="more-details" data-title="Comfortable Rooms">Enlarge</a>
								<figcaption>
									<h4>Habitacion Matrimonial</h4>
								</figcaption>
							</figure>
						</li>
						<li class="item col-xs-6 col-md-4 pool">
							<figure>
								<img src="{% static 'img/gallery/7.jpg' %}" alt="11"/>
								<a href="{% static 'img/gallery/7.jpg' %}" class="more-details" data-title="Relaxation Spaces">Enlarge</a>
								<figcaption>
									<h4>Relaxation Spaces</h4>
								</figcaption>
							</figure>
						</li>
						<li class="item col-xs-6 col-md-4 pool">
							<figure>
								<img src="{% static 'img/gallery/8.jpg' %}" alt="11"/>
								<a href="{% static 'img/gallery/8.jpg' %}" class="more-details"
								   data-title="Indoor Cinema Theatre">Enlarge</a>
								<figcaption>
									<h4>Indoor Cinema Theatre</h4>
								</figcaption>
							</figure>
						</li>
						<li class="item col-xs-6 col-md-4 pool">
							<figure>
								<img src="{% static 'img/gallery/9.jpg' %}" alt="11"/>
								<a href="{% static 'img/gallery/9.jpg' %}" class="more-details"
								   data-title="Out Pool">Enlarge</a>
								<figcaption>
									<h4>Out Pool</h4>
								</figcaption>
							</figure>
						</li>
					</ul>

					<a href="pages/gallery-masonry.html" class="gallery-more-btn ravis-btn btn-type-2">More ...</a>
				</div>

				
			</div>
		</section>
		
{% endblock contenido3 %}



{% block contenido5 %}



		<section id="special-offers">
			<div class="inner-container container">
				<div class="ravis-title">
					<div class="inner-box">
						<div class="title">Special Offers</div>
						<div class="sub-title">Choose the best package from the below</div>
					</div>
				</div>

				<div class="packages-container clearfix">
					<div class="package-box col-sm-6 col-md-4">
						<div class="main-inner-box" data-bg-img="{% static 'img/packages/1.jpg' %}">
							<div class="title-box">
								<div class="title">Silver</div>
								<div class="sub-title">Economy Package</div>
							</div>
							<div class="price-box">
								<div class="price">$300</div>
								<div class="type">Per Night</div>
							</div>
							<div class="detail-box">
								<ul>
									<li>
										<div class="inner-box">Flight Ticket</div>
									</li>
									<li>
										<div class="inner-box">Restaurant ( Lunch )</div>
									</li>
									<li>
										<div class="inner-box">Music Concert ( 30% Off )</div>
									</li>
									<li>
										<div class="inner-box">Airport Pick-up</div>
									</li>
									<li>
										<div class="inner-box">Sport Activities</div>
									</li>
								</ul>
							</div>
							<a href="#" class="ravis-btn btn-type-2">Select</a>
						</div>
					</div>
					<div class="package-box col-sm-6 col-md-4">
						<div class="main-inner-box" data-bg-img="{% static 'img/packages/2.jpg' %}">
							<div class="title-box">
								<div class="title">Gold</div>
								<div class="sub-title">Business package</div>
							</div>
							<div class="price-box">
								<div class="price">$450</div>
								<div class="type">Per Night</div>
							</div>
							<div class="detail-box">
								<ul>
									<li>
										<div class="inner-box">Flight Ticket</div>
									</li>
									<li>
										<div class="inner-box">Restaurant ( Lunch / Dinner )</div>
									</li>
									<li>
										<div class="inner-box">Music Concert ( 50% Off )</div>
									</li>
									<li>
										<div class="inner-box">Airport Pick-up</div>
									</li>
									<li>
										<div class="inner-box">Sport Activities</div>
									</li>
								</ul>
							</div>
							<a href="#" class="ravis-btn btn-type-2">Select</a>
						</div>
					</div>
					<div class="package-box col-sm-offset-3 col-sm-6 col-md-offset-0 col-md-4">
						<div class="main-inner-box" data-bg-img="{% static 'img/packages/3.jpg' %}">
							<div class="title-box">
								<div class="title">Diamond</div>
								<div class="sub-title">Luxury package</div>
							</div>
							<div class="price-box">
								<div class="price">$600</div>
								<div class="type">Per Night</div>
							</div>
							<div class="detail-box">
								<ul>
									<li>
										<div class="inner-box">Flight Ticket</div>
									</li>
									<li>
										<div class="inner-box">Restaurant ( Lunch / Dinner )</div>
									</li>
									<li>
										<div class="inner-box">Music Concert ( Free )</div>
									</li>
									<li>
										<div class="inner-box">Airport Pick-up</div>
									</li>
									<li>
										<div class="inner-box">Sport Activities ( Free )</div>
									</li>
								</ul>
							</div>
							<a href="#" class="ravis-btn btn-type-2">Select</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		
{% endblock contenido5 %}

{% include "static/footer.html" %} 

</div>
</body>
{% endblock body %}



