{% extends 'app/base.html' %}
{% load staticfiles %}

{% block title %}
Servicios - Sitio de prueba 
{% endblock title%}

{% block scripts %}
{% endblock%}

{% block estilos %}
{% endblock %}

{% block body %}
<body>
	<div class="main-wrapper">
{% include "static/header.html"%}

{% block section %}
		<!--Breadcrumb Section-->
		<section id="breadcrumb-section" data-bg-img="{% static 'img/hosteriagaleria/canchas.jpg' %}">
			<div class="inner-container container">
				<div class="ravis-title">
					<div class="inner-box">
						<div class="title">Our Services</div>
						<div class="sub-title">Some description about your hotel</div>
					</div>
				</div>

				<div class="breadcrumb">
					<ul class="list-inline">
						<li><a href="../index.html">Home</a></li>
						<li class="current"><a href="#">Our Services</a></li>
					</ul>
				</div>
			</div>
		</section>
		<!--End of Breadcrumb Section-->
{% endblock %}

{% block section1 %}
		<!--Welcome Section-->
		<section id="welcome-section" class="simple">
			<div class="inner-container container">
				<div class="ravis-title-t-2">
					<div class="title"><span>Colosseum Hotel</span></div>
					<div class="sub-title">We provide the most luxurious services</div>
				</div>
				<div class="content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
					sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste
					natus error sit voluptatem accusantium doloremque.
				</div>
			</div>
		</section>
		<!--End of Welcome Section-->
{% endblock %}

{% block section2 %}
		<!-- Hotel Sections -->
		<section id="hotel-sections">
			<div class="section-row clearfix">
				<div class="desc animated-box" data-animation="fadeInUp" data-delay="400">
					<div class="ravis-title-t-1">
						<div class="title"><span>International Restaurant</span></div>
						<div class="sub-title">Enjoy the best dishes with great tastes</div>
					</div>
					<div class="content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi architecto, aspernatur autem
						cum cupiditate debitis delectus dolor, doloribus dolorum et explicabo impedit in ipsam labore
						laboriosam libero minima minus obcaecati odit officia officiis praesentium quaerat quos repellat
						tempora ullam. <br> ut vero voluptatibus voluptatum. Iure rem, ut? Aliquam aut, autem blanditiis
						consectetur cum cupiditate dolor earum eos est eum eveniet explicabo incidunt, iste libero
						maiores minima mollitia, nihil numquam officiis perferendis porro quae qui quo quos reiciendis
						vel voluptate! Aliquam aut, exercitationem libero minus nam nostrum totam voluptate. Aliquam
						excepturi ipsam libero molestiae rerum sequi, vero? Amet dicta excepturi impedit ipsum libero
						neque quas quidem recusandae temporibus ut! Illum molestiae quod veniam! Amet architecto. <br>aut
						autem cumque cupiditate enim incidunt, laboriosam maiores minus nostrum placeat possimus quas
						quis quod saepe soluta totam voluptatibus. Consequatur maxime odit praesentium reiciendis
						temporibus! At delectus fuga molestiae nemo quaerat rerum sequi veniam voluptatum? Vero?
					</div>
				</div>
				<div class="img-container animated-box" data-animation="fadeInUp"
					 data-bg-img="{% static 'img/hosteriagaleria/pescado.jpg' %}"></div>
			</div>
			<div class="section-row clearfix">
				<div class="img-container animated-box" data-animation="fadeInUp"
					 data-bg-img="{% static 'img/hosteriagaleria/piscina1.jpg' %}"></div>
				<div class="desc animated-box" data-animation="fadeInUp" data-delay="400">
					<div class="ravis-title-t-1">
						<div class="title"><span>Meeting Hall</span></div>
						<div class="sub-title">We provide greate services for your meetings</div>
					</div>
					<div class="content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis deserunt distinctio
						doloremque ex exercitationem impedit odit porro ratione voluptas. Architecto nostrum praesentium
						tenetur? Deleniti obcaecati odit sequi similique. Ad aliquid corporis error, est eum id labore,
						quasi quia unde veritatis voluptate voluptatum. <br> Alias aspernatur atque, beatae blanditiis
						cumque delectus ducimus eum facere fuga, fugit incidunt inventore iste magnam mollitia nisi odio
						pariatur quae quaerat quas quia quidem quis quos reiciendis rem repellat repellendus
						reprehenderit repudiandae rerum saepe sed tempora temporibus tenetur, vitae? Aliquid expedita
						nihil vitae? Aspernatur at error et eum ex fugiat ipsa, iure magnam maxime nesciunt non nulla
						odit porro sit voluptatibus. A aliquam aliquid deleniti dicta dolorem dolorum earum error. <br>
						est eum excepturi explicabo facere ipsa ipsum iure laboriosam, nam nisi praesentium quam quis
						repellat, rerum sequi tempora. Accusamus accusantium cumque, dolorum ea expedita illum ipsum
						libero nobis provident velit? Commodi corporis enim fuga impedit quasi.
					</div>
				</div>
			</div>
			<div class="section-row clearfix">
				<div class="desc animated-box" data-animation="fadeInUp" data-delay="400">
					<div class="ravis-title-t-1">
						<div class="title"><span>Luxury Bars</span></div>
						<div class="sub-title">Relax in our luxury bars with great drinks</div>
					</div>
					<div class="content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, earum eligendi esse incidunt
						laudantium molestias nisi pariatur soluta. Aspernatur consectetur consequatur doloremque quos
						unde. Cumque cupiditate ex fugiat iusto nesciunt odio odit officia, quae quam, quasi repellat
						veniam! Adipisci alias aut. <br> autem commodi consectetur consequuntur debitis dolor
						exercitationem fugit illo illum ipsa iusto minus nam nulla odit quae quaerat quam quas quisquam
						reiciendis saepe sequi, temporibus ullam velit, voluptas voluptates voluptatibus. Aliquid
						assumenda dolorum eaque, fugiat id ipsum nesciunt nostrum omnis optio praesentium provident
						quasi sequi soluta totam voluptatibus? Aliquid aperiam assumenda culpa cumque deleniti
						dignissimos doloremque dolorum eius enim expedita hic in iste magni molestias, mollitia nisi
						officiis quidem ratione. <br> repudiandae rerum tempora ullam voluptatem, voluptatum? Assumenda
						corporis cumque ducimus eum magni quaerat! Ea, illo libero nam neque odio provident sint vel.
						Asperiores culpa dolorem eligendi facilis iure laudantium molestias natus possimus qui quibusdam
						sit vel, voluptate voluptates voluptatibus!
					</div>
				</div>
				<div class="img-container animated-box" data-animation="fadeInUp"
					 data-bg-img="{% static 'img/hosteriagaleria/edificiopiscina.jpg' %}"></div>
			</div>
		</section>
		<!-- End of Hotel Sections -->
{% endblock %}

{% block section3 %}
		<!--Our Services Section-->
		<section id="our-services">
			<div class="inner-container container">
				<div class="ravis-title">
					<div class="inner-box">
						<div class="title">Our Services</div>
						<div class="sub-title">We provide the beset services for our guests</div>
					</div>
				</div>

				<div id="services-box" class="owl-carousel owl-theme">
					<div class="item">
						<img src="{% static 'img/hosteriagaleria/canchas.jpg' %}" alt="6">
						<div class="title">24h Room Service</div>
					</div>
					<div class="item">
						<img src="{% static 'img/hosteriagaleria/edificio.jpg' %}" alt="2">
						<div class="title">International Restaurant</div>
					</div>
					<div class="item">
						<img src="{% static 'img/hosteriagaleria/edificiopiscina.jpg' %}" alt="3">
						<div class="title">Sauna / Jacuzzi</div>
					</div>
					<div class="item">
						<img src="{% static 'img/hosteriagaleria/frontal.jpg' %}" alt="4">
						<div class="title">Bars</div>
					</div>
					<div class="item">
						<img src="{% static 'img/hosteriagaleria/pescado.jpg' %}" alt="5">
						<div class="title">Massage &amp; Spa</div>
					</div>
					<div class="item">
						<img src="{% static 'img/hosteriagaleria/paisaje.jpg' %}" alt="1"><!-- Change the URL section based on your image's name -->
						<div class="title">Swimming Pool</div>
					</div>
				</div>



			</div>
		</section>
		<!--End of Our Services Section-->
{% endblock %}

{% block section4 %}
		<!-- Testimonials Section -->
		<section id="testimonials-section" data-parallax="scroll" data-image-src="{% static 'img/fondo2.jpg' %}"		</section>
		<!-- End of Testimonials Section -->
{% endblock %}

{% block section5 %}
		<!--Client Sections-->
		<section id="client-section">
			<div class="inner-container container">
				<ul class="client-list clearfix">
					<li class="col-xs-6 col-md-3 animated-box" data-animation="fadeInUp">
						<a href="#">
							<img src="{% static 'img/client-logo/altria1.png' %}" alt="Client Logo">
						</a>
					</li>
					<li class="col-xs-6 col-md-3 animated-box" data-animation="fadeInUp" data-delay="400">
						<a href="#">
							<img src="{% static 'img/client-logo/bluehost.png' %}" alt="Client Logo">
						</a>
					</li>
					<li class="col-xs-6 col-md-3 animated-box" data-animation="fadeInUp" data-delay="800">
						<a href="#">
							<img src="{% static 'img/client-logo/cube.png' %}" alt="Client Logo">
						</a>
					</li>
					<li class="col-xs-6 col-md-3 animated-box" data-animation="fadeInUp" data-delay="1200">
						<a href="#">
							<img src="{% static 'img/client-logo/erikaschesonis1.png' %}" alt="Client Logo">
						</a>
					</li>
				</ul>
			</div>
		</section>
		<!--End of Client Sections-->
{% endblock %}

{% include "static/footer.html" %} 
	</div>

</body>
{% endblock body %}