
		<footer id="main-footer">
			<section id="ctn_sec">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
							<div class="title_sec">
							<!-- 	<h1>Contacto informacio </h1> -->
								<h2>WE’RE BRANDING & DIGITAL STUDIO FROM VIET NAM</h2>
							</div>			
						</div>		
						<div class="col-sm-6"> 
							<div id="cnt_form">
								<form id="contact-form" class="contact" name="contact-form" method="post" action="send-mail.php">
									<div class="form-group">
									<input type="text" name="name" class="form-control name-field" required="required" placeholder="Your Name">
									</div>
									<div class="form-group">
										<input type="email" name="email" class="form-control mail-field" required="required" placeholder="Your Email">
									</div> 
									<div class="form-group">
										<textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
									</div> 
									<div class="form-group">
										<button type="submit" class="btn btn-primary">Send</button>
									</div>
								</form> 
							</div>
						</div>
							
						<div class="widget-box col-sm-6 col-md-3">
						<h4 class="title">Contact Us</h4>
						<div class="widget-content contact">
							<ul class="contact-info">
								<li>
									<i class="fa fa-home"></i>
									Av. Panamericana, La Mandala, Macará
								</li>
								<li>
									<i class="fa fa-phone"></i>
									+59394065074 (+5933109897)
								</li>
								<li>
									<i class="fa fa-envelope"></i>
									hosteriacandamo@gmail.com
								</li>
							</ul>
						</div>
					</div>

					</div>
				</div>
			</section>

		</footer>