<header id="main-header">
			<div class="inner-container container">
				<div class="l-sec col-xs-8 col-sm-6 col-md-3">
					<a href="#" id="t-logo">
						<span class="title">Candamo</span>

						<span class="desc">Hostería</span>
					</a>
				</div>
				<div class="r-sec col-xs-4 col-sm-6 col-md-9">
					<nav id="main-menu">
						<ul class="list-inline">
							<li class="active"><a href="/">Inicio</a>					
							</li>
							<li><a href="#">Acerca</a>
								<ul>
									<li><a href="{% url 'about' %}">Acerca Hotel</a></li>
									<li><a href="{% url 'services' %}">Servicios</a></li>
								</ul>
							</li>
							<li><a href="{% url 'room-det' %}">Habitación</a></li>
							<li><a href="#">Eventos</a>
								<ul>
									<li><a href="pages/events.html">Event Archive</a></li>
									<li><a href="pages/event-details.html">Event Details</a></li>
								</ul>
							</li>
							<li><a href="#">Galeria</a>
								<ul>
									<li><a href="pages/gallery-grid.html">Gallery - Grid View</a></li>
									<li><a href="pages/gallery-masonry.html">Gallery - Masonry View</a></li>
									<li><a href="pages/gallery-row.html">Gallery - List View</a></li>
									<li><a href="pages/gallery-slide-show.html">Gallery - Slide Show</a></li>
								</ul>
							</li>
							
							<li><a href="{% url 'contact' %}">Contacto</a></li>
						</ul>
					</nav>
					<div id="main-menu-handle" class="ravis-btn btn-type-2"><i class="fa fa-bars"></i><i class="fa fa-close"></i></div>
					 {% if request.user.is_authenticated %}
						<a href="{% url 'auth_logout' %}"style="right: 20%;"id="header-book-bow"class="ravis-btn btn-type-2"><span>Salir</span><i class="fa fa-calendar"></a>
						{% else %}
						

						<a href="{% url 'auth_login' %}" id="header-book-bow"class="ravis-btn btn-type-1"><span>Iniciar Sesion</span> <i class="fa fa-calendar"></a>
							<br/>
						<a href="{% url 'registration_register' %}"id="header-book-bow" class="ravis-btn btn-type-1"><span>Registrarte</span> <i class="fa fa-calendar"></a>
						{% endif %}
				</div>
		
			</div>
			<div id="mobile-menu-container"></div>
		</header>
 