

	<script type="text/javascript" src="../../static/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="../../static/js/helper.js"></script>
	<script type="text/javascript" src="../../static/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="../../static/js/select2.min.js"></script>
	<script type="text/javascript" src="../../static/js/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="../../static/js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="../../static/js/template.js"></script>