<div class="slider-available-sec">
			<section id="main-slider">
				<div class="items">
					<div class="img-container" data-bg-img="../../static/img/hosteriagaleria/piscina1.jpg"></div>
					<div class="slide-caption">
						<div class="inner-container clearfix">
							<div class="up-sec">Enjoy of staying in our hotel with our</div>
							<div class="down-sec">Luxury Rooms & Services</div>
						</div>
					</div>
				</div>
				<div class="items">
					<div class="img-container" data-bg-img="../../static/img/hosteriagaleria/frontal.jpg"></div>
					<div class="slide-caption">
						<div class="inner-container clearfix">
							<div class="up-sec">We will be so proud to</div>
							<div class="down-sec">Be Our Guest</div>
						</div>
					</div>
				</div>
				<div class="items">
					<div class="img-container" data-bg-img="../../static/img/hosteriagaleria/piscina2.jpg"></div>
					<div class="slide-caption">
						<div class="inner-container clearfix">
							<div class="up-sec">Be happy in our</div>
							<div class="down-sec">Luxury Rooms</div>
						</div>
					</div>
				</div>
				<div class="items">
					<div class="img-container" data-bg-img="../../static/img/hosteriagaleria/paisaje.jpg"></div>
					<div class="slide-caption">
						<div class="inner-container clearfix">
							<div class="up-sec">Have a great time with our</div>
							<div class="down-sec">Private Environment</div>
						</div>
					</div>
				</div>
			</section>
			
		</div>